.header {
  background-color: #000;
  color: #0f0;
}

.container {
  background-repeat: no-repeat;
  background-image: url(/img/prshenegra.jfif);
  height: 500px;
}
.container h1 {
  color: #f00;
}

.title {
  font-size: 2rem;
  line-height: 1.5;
}

.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  gap: 1rem;
}
.container .row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  gap: 1rem;
}
.container .row .row-cols-auto {
  grid-column: 1/span 4;
}
.container .row .title {
  grid-column: 5/span 8;
}

.mainServicios {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  padding: auto;
}
.mainServicios iframe {
  align-items: center;
  display: flex;
}
.mainServicios .tarjeta-motor {
  display: flex;
  flex-direction: row;
  border: 1px solid black;
  border-radius: 8px;
  padding: 20px;
  width: 300px;
  gap: 10px;
}
.mainServicios .tarjeta-motor img {
  width: 100%;
}
.mainServicios .tarjeta-tratamientos {
  background-color: gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  border-radius: 8px;
  padding: 20px;
  width: 300px;
}
.mainServicios .tarjeta-tratamientos img {
  width: 100%;
}
.mainServicios .tarjeta-limpiezadeinterior {
  background-color: gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  border-radius: 8px;
  padding: 20px;
  width: 300px;
}
.mainServicios .tarjeta-limpiezadeinterior img {
  width: 100%;
}
.mainServicios .tarjeta-opticas {
  background-color: gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  border-radius: 8px;
  padding: 20px;
  width: 300px;
}
.mainServicios .tarjeta-opticas img {
  width: 100%;
}
.mainServicios .tarjeta-llantas {
  background-color: gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  border-radius: 8px;
  padding: 20px;
  width: 300px;
}
.mainServicios .tarjeta-llantas img {
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  background-color: #030608;
  color: #fff;
  font-family: Arial, sans-serif;
}
.header #bannerPrincipal {
  padding-left: 10px;
  font-size: 2em;
}
.header #bannerPrincipal .logo {
  font-weight: bold;
  margin: 0;
  padding: 0;
}
.header #bannerPrincipal .logo span.highlight {
  color: #fff;
}
.header .navegador {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
}
.header .navegador a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
}
.header .navegador a:hover {
  text-decoration: underline;
}

.mapa-container iframe {
  width: 100%;
  height: 450px;
  border: red;
  margin-top: 20px;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  color: red;
  height: 100%;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: black;
  align-items: center;
  position: static;
  width: 100%;
}
.header .logo {
  color: red;
  float: left;
  margin: 0 auto;
  width: fit-content;
  font-size: 50px;
}
.header .logo .highlight {
  color: white;
}

.hero {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%), url(../img/Audi\ RS3\ wagon_\ \ Yes\ please_.jfif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
  height: 80%;
  width: 100%;
  padding: 250px;
}
.hero .hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
.hero .hero-text h1 {
  font-size: 50px;
  color: red;
}

.navegador {
  display: flex;
  flex-direction: row;
  gap: 16px;
}
.navegador a {
  color: aliceblue;
  text-decoration: none;
  font-size: 30px;
  padding: 20px;
  border-radius: 20px;
}
.navegador a:hover {
  background-color: gray;
}

@media (max-width: 992px) {
  .header {
    flex-direction: column;
  }
  .navegador {
    flex-direction: column;
    gap: 7px;
    align-items: center;
  }
}
h1 {
  font-family: "Courier New", Courier, monospace;
}

h2 {
  font-size: 25px;
}

/*# sourceMappingURL=index.css.map */
