

.card-subtitle {

    font-family: 'Courier New', Courier, monospace;
    display: flex;
    align-items: center;
    border: 5px solid black;
    border-radius: 8px;
    width: 300px;
    margin: 50px;
    padding: 25px;

}

.img-nosotros {
    border-radius: 8px;
    border: 5px solid black;
    align-items: center;
    justify-content: center;
}



.login-container {
    position: absolute;
    right: 0;
    top: 0;
}







section p {
    color: rgb(192, 20, 20);
}

.bk-gris {
    background-color: grey;
}



.mainContent {
    background-color: black;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: auto;
}

.form-label {
    color: white;
    background-color: brown;
}